<button button mat-fab color="accent" routerLink="/">
  <mat-icon svgIcon="arrow" aria-hidden="false"></mat-icon>
</button>
<mat-card>
  <mat-card-header>
    <mat-card-title>{{articleId.title}}</mat-card-title>
    <mat-card-subtitle>{{articleId.author}}</mat-card-subtitle>
    <mat-card-subtitle>{{articleId.publishedAt | date : 'medium'}}</mat-card-subtitle>
  </mat-card-header>
  <img
    src="{{articleId.urlToImage}}"
    mat-card-image
    alt="Image not found"
    onerror="this.src='assets/not-found.png';"
  >
  <mat-card-content>{{articleId.content}}</mat-card-content>
</mat-card>
