<!--<h1>{{newArticle[0].title}}</h1>-->
<!--<img src="{{newArticle[0].urlToImage}}" alt="">-->
<!--<p>{{newArticle[0].content}}</p>-->
<button button mat-fab color="accent" routerLink="/">
  <mat-icon svgIcon="arrow" aria-hidden="false"></mat-icon>
</button>
<!--<mat-card>-->
<!--  <mat-card-header>-->
<!--    <mat-card-title>{{newArticle[0].title}}</mat-card-title>-->
<!--    <mat-card-subtitle>{{newArticle[0].author}}</mat-card-subtitle>-->
<!--    <mat-card-subtitle>{{newArticle[0].publishedAt}}</mat-card-subtitle>-->
<!--  </mat-card-header>-->
<!--  <img src="{{newArticle[0].urlToImage}}" mat-card-image>-->
<!--  <mat-card-content>{{newArticle[0].content}}</mat-card-content>-->
<!--&lt;!&ndash;  <h1>{{myLet}}</h1>&ndash;&gt;-->

<!--</mat-card>-->
